.circular-progress-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circular-progress {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    animation: spin 1.1s infinite linear;
}

.circular-progress::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid rgba(0, 123, 255, 0.01);
    border-top-color: #00A651;
    border-right-color: #00A651;
    transform: rotate(315deg);
    z-index: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circular-progress-message {
    padding-top: 10px;
}