:root {
    --primary-color: #4CAF50;
    --shadow-color: rgba(0, 0, 0, 0.16);
    --font-size-fab: 24px;
}

.fab-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow: 0 3px 6px var(--shadow-color);
    font-size: var(--font-size-fab); /* Размер иконки внутри */
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    transition: transform 0.1s ease-in-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.fab-button:hover {
    transform: scale(1.05); /* Немного увеличиваем при наведении */
}

.fab-button:focus,
.fab-button:active {
    outline: none;
    box-shadow: 0 5px 8px var(--shadow-color);
}

@media screen and (max-width: 768px) {
    .fab-button {
        width: 48px;
        height: 48px;
        font-size: 20px; /* Меньше размер на мобильных устройствах */
    }
}