/* Определяем основную тему */
:root {
    --primary-color: #4CAF50; /* Основной цвет */
    --shadow-color: rgba(0, 0, 0, 0.16); /* Цвет тени */
    --font-size-fab: 24px; /* Размер шрифта */
}

.fab-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%; /* Круглая форма */
    background-color: var(--primary-color); /* Основной цвет */
    box-shadow: 0 3px 6px var(--shadow-color); /* Тень */
    font-size: var(--font-size-fab); /* Размер иконки внутри */
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    transition: transform 0.1s ease-in-out; /* Плавный переход */
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.fab-button:hover {
    transform: scale(1.05); /* Немного увеличиваем при наведении */
}

.fab-button:focus,
.fab-button:active {
    outline: none; /* Скрываем выделение при фокусировке */
    box-shadow: 0 5px 8px var(--shadow-color); /* Более заметная тень при активном состоянии */
}

@media screen and (max-width: 768px) {
    .fab-button {
        width: 48px;
        height: 48px;
        font-size: 20px; /* Меньше размер на мобильных устройствах */
    }
}